<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gcode</key>
		<string>1</string>
		<key>gcodename</key>
		<string>App分组1</string>
		<key>gcodeorder</key>
		<string>1</string>
		<key>drawerlist</key>
		<array>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App1</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App2</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gcode</key>
		<string>2</string>
		<key>gcodename</key>
		<string>App分组2</string>
		<key>gcodeorder</key>
		<string>2</string>
		<key>drawerlist</key>
		<array>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App1</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App2</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App3</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gcode</key>
		<string>3</string>
		<key>gcodename</key>
		<string>App分组3</string>
		<key>gcodeorder</key>
		<string>3</string>
		<key>drawerlist</key>
		<array>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App1</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App2</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gcode</key>
		<string>4</string>
		<key>gcodename</key>
		<string>App分组4</string>
		<key>gcodeorder</key>
		<string>4</string>
		<key>drawerlist</key>
		<array>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App1</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App2</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App3</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App4</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gcode</key>
		<string>5</string>
		<key>gcodename</key>
		<string>App分组5</string>
		<key>gcodeorder</key>
		<string>5</string>
		<key>drawerlist</key>
		<array>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App1</string>
			</dict>
			<dict>
				<key>drawericon</key>
				<string>appIcon</string>
				<key>drawername</key>
				<string>App2</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
